<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/css2rounded.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/js/css/chat.css') }}" rel="stylesheet"> 
	<title>business inteligence</title>
</head>

<body>

	<div class="chatbot">
		<img src="{{ url_for('static', filename='img/smartphone.png') }}" alt="Smartphone" class="smartphone">
		<header>
			<div class="row">
				<div class="col-md-2">
					<h5 class="close-btn"><img src="{{ url_for('static', filename='img/brunetteHair.png') }}" class="chat-avatar"></h5> 
				</div>		
				<div class="col-md-7 text-left">
					<h5 class="close-btn">&nbsp;&nbsp;&nbsp;Simulador BI</h5> 
				</div>		
				<div class="col-md-3">
					<i  class="fa fa-phone icon-custom-size"></i>
					<i  class="fa fa-wifi icon-custom-size"></i>
				</div>		
			</div>	
		</header>
		
		<div id="divCliente">
			<select id="selChatCustomer" disabled >
			</select>		
		</div>

		<ul class="chatbox">
		</ul>
		
		<div class="chat-input">
			<textarea placeholder="Digite uma mensagem..." spellcheck="false" required></textarea>
			<span id="send-btn" class="material-symbols-rounded">send</span>
		</div>
	</div>

</body>
<script src="{{ url_for('static', filename='vendor/js/chat.js') }}"></script>
</html>
